@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

/*    MOBILE FIRST */

* {
  margin: 0;
  padding: 0;
  display: border-box;
}

/*    BODY STYLING */

body, main, form, textarea {
  display: flex;
  flex-direction: column;
}

body {
  /* background-color: #FFF; */
  background-color: #3E3F35;
  color: #FFF;
  justify-content: center;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

/*    FONT STYLING */
h1, button, form, input, p, ul, select {
  font-family: 'Teko', sans-serif;;
}

h1 {
color: #FFF;
}

/*    LIST STYLING */

ul {
  border-top: solid 1px #FFF;
  list-style: none;
}

li {
  color: #FFF;
  margin: 2px 0px;
  border-bottom: solid 1px #FFF;
  background: #3E3F35;
  padding: 5px 0 0;
  font-size: 25px;
}

#expanded {
  font-size: 18px;
}

/*    BUTTON STYLING */

#star-rating {
  font-size: 16px;
  color: #F1B60E;
  margin-top: 0;
}

button {
  font-size: 18px;
  margin: 5px;
  padding: 1px 13px;
  background: #F1B60E;
  border-style: none;
  border-radius: 3px;
}
  
a {
  font-size: 18px;
  margin: 5px;
  
}

/* link styled as button */
.button {
  display: inline-block;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  color: #000;
  background-color: #F1B60E;
  border-radius: 3px;
  outline: none;
}

select {
  font-size: 18px;
  margin: 5px;
  padding: 0 3px;
  border-style: none;
  background: #F1B60E;
  border-radius: 3px;
}

/*    FORM STYLING */

#desc-textarea {
  font-family: 'Teko', sans-serif;
  max-width: 80%;
  text-align: center;
  margin: 5px auto;
  padding: 0 82px;
}

input[type=submit] {
  font-size: 18px;
  margin: 5px;
  padding: 0 5px;
  background: #F1B60E;
  border-style: none;
  border-radius: 3px;
  padding: 1px 13px;

}

.new-bookmark {
  background: #3E3F35;
  text-align: center;
}

.new-bookmark-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type=text] {
  max-width: 80%;
  text-align: center;
  margin: 5px auto;
  padding: 0 80px;
  
}
/* rating-select menu */
#rating {
  margin-left: 8px;
  font-size: 14px;
}

.rating-label {
  color: #FFF;
  margin-top: 15px;
  padding-top: 15px;
}

/*    LARGE SCREEN STYLING */

@media (min-width: 700px) {

/*    BODY STYLING */

body {
  width: 80%;
  margin: 0 auto;
}

/*    TEXT STYLING */

h1 {
  font-size: 50px;
}

/*    LIST STYLING */

li {
  font-size: 35px;
}

/*    BUTTON STYLING */

button, a, select, p {
  font-size: 25px;
}

#star-rating, #expanded {
  font-size: 25px;
}

#rating {
  margin: 10px;
  font-size: 18px;
  padding: 0 20px
}

button {
  margin: 10px;
  padding: 1px 25px;
}

#filter-select {
  margin: 10px;
  padding: 0 16px;
}

/*    FORM STYLING */

input[type=text] {
  max-width: 80%;
  text-align: center;
  margin: 5px auto;
  padding: 5px 80px;
  font-size: 18px;
}

#desc-textarea {
  font-family: 'Teko', sans-serif;
  /* text-align: center;
  width: 250px; */
  max-width: 80%;
  text-align: center;
  margin: 5px auto;
  padding: 15px 83px;
  font-size: 18px;
}

.rating-label {
  font-size: 25px;
}

input[type=submit] {
  font-size: 25px;
  margin: 5px;
  padding: 10px 5px;
  background: #F1B60E;
  border-style: none;
  border-radius: 3px;
  padding: 1px 26px;
}

}